@import "@wayontop/ui/styles/shared.css";
@source "../../packages/ui/src";

body.permission-gate-active .hide-on-permission {
  display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
}

.show-on-permission {
    display: none !important;
}

body.permission-gate-active .show-on-permission {
    display: flex !important;
}
